* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: $font-size;
    font-family: $font-family;
    min-height: 100vh;
    padding: 5rem 0;
    background-image: url(../images/bg-pattern-top-mobile.svg), url('../images/bg-pattern-bottom-mobile.svg');
    background-repeat: no-repeat;
    background-position: top left, bottom right;

}

.container {
    width: 100%;
    max-width: 1280px;
    padding: 0 1.5rem;
    margin: auto;
}

img {
    max-width: 100%;
    display: block;
}

@media screen and (min-width: 375px) {
    body {
        font-size: $font-size;
        font-family: $font-family;
        min-height: 100vh;
        padding: 5rem 0;
        background-image: url(../images/bg-pattern-top-desktop.svg), url(../images/bg-pattern-bottom-desktop.svg);
        background-position: top left, bottom right;

    }
}